body {
	font-family: "Helvetica Neue";
	font-size: 25px;
	line-height: 1.7;
	background-image: url("../images/background.png");
	color: rgb(180,180,180);

}

#mainBody {
	margin-top: 35px;
}
/*=============================================*/
/*Nav*/
.navIcon {
	margin-left: 25px;
	cursor: pointer;
}
.navIcon:hover {
	opacity: .3;
}

.navBar {
	/*color: rgb(180,180,180);*/
	position: fixed;
}

li {
	padding-left: 27px;
}

.sameLink {
	opacity: .3;
}

.isNotShowing {
	display: none;
}
/*.navList {
	margin-top 
}*/
a {
	color: rgb(180,180,180);
}

a:hover {
	color: rgb(180,180,180);
	opacity: .3;
}
/*==============================================*/
/*Gallery Page*/
.painting {
	max-width: 330px;
	margin-bottom: 10px;
	border: 1px solid white;
	/*margin-right: 20px;*/
}



/*.allPaintings {
	margin-top: 20px;
}
*/
/*=================================================*/
/*Home Page*/
#homePainting {
	max-width: 100%;
	border: 1px solid white;
	/*opacity: .5;*/
	/*margin-top: 20px;*/
}

#homePainting:hover {
	opacity: .3;
}

.image {
	position: relative;
	width: 100%;
	/*background-image: url(../images/thePhysicians.jpg);*/
	/*background-size: cover;*/
}

.imageText {
	position: absolute;
	text-align: center;
	line-height: 1.2;
	width: 100%;
	top: 200px;
	color: white;
}

.homeText {
	margin-top: 0;
	font-size: 40px;
}
.firstLetter {
	font-size: 50px;
}



.name {
	font-size: 60px;
}